*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Gradle 관련 파일
.gradle/
build/
gradle/caches/
gradle/wrapper/
# Gradle Daemon files
gradle/daemon/

# Android 관련 파일
*.apk
*.iml
/local.properties
/.idea/
*.profile
