<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="공각심"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GongGakSim_FrontEnd"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ModifyInformationActivity"
            android:exported="false" />
        <activity
            android:name=".Terms2Activity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".DialogLogoutActivity"
            android:exported="false" />
        <activity
            android:name=".MembershipWithdrawalActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".ActiveActivity"
            android:exported="false" />
        <activity
            android:name=".WorkActivity"
            android:exported="false" />
        <activity
            android:name=".TermsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".PushNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalInformationActivity"
            android:exported="false" />
        <activity
            android:name=".MembershipSettingActivity"
            android:exported="false" />
        <activity
            android:name=".Membership2Activity"
            android:exported="false" />
        <activity
            android:name=".Membership1Activity"
            android:exported="false" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ExamDivPointActivity"
            android:exported="false" />
        <activity
            android:name=".ExamSuggestionActivity"
            android:exported="false" />
        <activity
            android:name=".ExamDivSuccfailActivity"
            android:exported="false" />

    </application>

</manifest>